
/*nav style*/

body { 
  font-size: 1.6rem;
  font-family: 'Microsoft Yahei' ,'Microsoft Jhenghei' ; 
}

h1,h2,h3,h4{
  font-family:  'Microsoft Jhenghei' ,'Microsoft Yahei', Helvetica, Georgia, "Times New Roman", serif;
}
h2,h3{
  font-weight: 600;
}
p { 
  line-height: 1.7;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

a:hover{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.navbar-custom {
  border: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: none;
}
.navbar-custom .navbar-brand {  
  height: 60px;
  line-height: 25px;
  font-weight: 800;
  color: #fff;
  font-size: 18px;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .nav li a:hover {
  color:  rgb(250, 218, 94);
}
.navbar-custom .nav li a {
  color: #fff;
  line-height: 20px;
  font-weight: 800;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
.main{
  background: #66ccff;
  color:#333;
}
.animate-header{
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 20px;

}
.post a{
  color:#333;
}
.post a:hover{
    color:#66ccff;
}

#MyCanvas{
   background: no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
   }

footer {
  margin: 50px 0;
}

@media (min-width: 992px) {
  .posts-container, .sidebar-container { padding-right: 5%; }
}
.post p { margin-top: 6px; }
.post-date{
  color: #bbc3c8; 
   display: inline-block; 
   font-family: 'Georgia', serif; 
   font-style: italic; 
   font-size: 18px; 
   
}

.excerpt {
    color:black;
   // font-style: italic; 

}

.post-preview {
  color:#888 ; 
  font-style: italic;
}

.pagination { width: 100%; }
.pagination a, .pagination span {
  display: inline-block;
  border: 1px solid #ccc;
  width: 20%;
  padding: 10px;
  text-align: center;
  color:#66ccff;
}
.pagination a:hover { background-color: #66ccff; border:none; color:white;}
blockquote p{
  color:#a6a6a6 ;
}
/*About Me*/

.aboutme .fa{
  color:#66ccff;
}

.aboutme hr{
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #66ccff, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #66ccff, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #66ccff, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #66ccff, #f0f0f0); 
    margin:15px;
    width: 10%;
  }
.aboutme h3{
  color:#a6a6a6;
  font-family: Verdana, sans-serif;
}
.aboutme a{
  color:#66ccff;
  text-decoration: none;
}

/*TAGS Style*/

.tags a{
  padding:5px 8px;
  background: #66ccff;
  border-radius: 20px;
  color:#ccffcc;
}
.tags a:hover{
  background: #0099cc;
}
.one-tag-list{
  margin-top:30px;
}
.one-tag-list .tag-text,.one-tag-list .fa{
    font-size: 20px;
    color:#0099CC;
}
.one-tag-list .post-title{
   color:#888;
   font-size: 20px;
}

.one-tag-list .post-subtitle{
  color:#888;
   font-size: 14px;
   font-weight: 400;
   font-family: "Helvetica Neue";
}
.post-titles:hover h2,.post-titles:hover h3{
  color:#0099CC;
}