body{
	font-family: Microsoft Yahei;
}
p{
	font-size: 16px;
	letter-spacing: 1px;
}
ul{
	margin: 0;
}
/*.clearfix:after{

	content: "";
	clear: both;
	display: block;
}*/

header{
	
	color:#fff;
	background:url(../image/blogimg_1.jpg) no-repeat center center;
	background-size: cover;
	
}
nav {
	background:rgba(0,0,0,0.2);
	height: 50px;
}
#banner{
	
	background:rgba(0,0,0,0.2);
	height:700px;
}
nav ul {
	list-style: none;
	margin:0;
	float:right;
	margin-right:150px;
}
nav ul li{
	display: inline;
	line-height: 50px;
	margin-right: 20px;
	padding:0 10px;
}
nav ul li a{
	display: inline;
	line-height: 50px;
	text-decoration: none;
	height: inherit;/*继承父级高度*/
	color:#fff;
}
nav .active,nav ul li a:hover{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding:5px 0;

}
#banner .inner {
	max-width:500px;
	text-align: center;
	margin:0 auto;
	position: relative;
	top:150px;
}
#banner .inner h1{
	margin:0;

}
#banner .inner h2{
	margin:30px;
	line-height: 50px;
}
#banner .inner img{
	border-radius: 50%;
	height:200px;
	width:200px;
}
.hr{
	 height: 1px;
	 width:10%;
	 margin:0 auto;
    
    background-image: -webkit-linear-gradient(left, #eee,#eee);
    background-image: -moz-linear-gradient(left, #eee, #eee);
    background-image: -ms-linear-gradient(left, #eee,  #eee);
    background-image: -o-linear-gradient(left, #eee, #eee);
}


.section_top{
	text-align: center;
	background-color: #089db0;
	color:#fff;
	padding:100px;
}
.wrapper{
	max-width: 1080px;
	margin:0 auto;
}

.icon_wrapper{
	margin-top:40px;
}
.section_top .icon_wrapper .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	border:1px solid #eee ;
	line-height: 80px;
	transform: rotate(45deg);
	margin:20px;
}
.section_mid{
	background-color: #222;
}
.section_mid .wrapper>div{
	float:left;

}
.wrapper:after{
	display: block;
	content: "";
	clear: both;
	font-size: 0;
}
.section_mid .image{
	width:35%;
}
.image img{
	width:100%;
}
.section_mid .text{
	width: 65%;
	
	color:#eee;
	position:relative;
	top:60px;
	left:80px;
	letter-spacing: 1px;
	
}
.text h2{
	margin-bottom: 20px;
}
.section_mid .wrapper:nth-child(odd){
	background-color: rgba(255,255,255,0.05);
}


.section_foot{
	background-color: #3f3965;
	color:#eee;
	padding:80px;
	
	
	
	
}
.section_foot .title{
	text-align: center;
}
.card_group{
	max-width: 1080px;
	margin:100px auto;
}
.card{
	float:left;
	width:50%;
	min-height: 300px;
	padding:20px;
	box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	

}
.card h3{
	font-size: 20px;
}
.card:first-child{
	background-color:rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background-color:rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background-color:rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background-color:rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background-color:rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background-color:rgba(0,0,0,0.24);
}
.card:nth-child(7){
	background-color:rgba(0,0,0,0.24);
}
.card:nth-child(8){
	background-color:rgba(0,0,0,0.28);
}
footer{
	background-color: #333;
	color:#fff;
	min-height: 200px;
	text-align: center;
	
		

}
.share{
	display: block;
	width:1080px;
	margin:0 auto;
	padding:50px;
    

}
.share li{
	display: inline-block;
	padding:10px;

}





