---
layout: page
---
<!--标题、日期、摘要  -->

    {% for post in site.posts %}
    <div class="post">
        <a href="{{ post.url }}"> <h2>{{ post.title }}</h2></a>
        <!-- <div class="excerpt">{{ post.excerpt }}</div> -->
        <div class="post-preview">
            {{ post.content | strip_html | truncate:150 }}
            
        </div>
        <br/>
        <span class="post-date">Posted by {% if site.author %}{{ site.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date_to_string }}</span>
    </div>
    <hr/>
    {% endfor %}


<!-- 分页链接 -->
<!-- {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/'}}">Older</a>
  {% else %}
    <span>Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pull-right" href="{{  paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/'}}">Newer</a>
  {% else %}
    <span class="pull-right">Newer</span>
  {% endif %}   
</div>
{% endif %} -->



  






　　


