<!-- meta -->
<meta charset="UTF-8">
<meta name="apple-mobile-web-app-title" content="{{page.title}}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<!-- title icon -->
<link rel="icon" href="{{ site.baseurl }}/images/favicon.ico">

<!-- bootstrap css&&js -->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

<!-- font-awesome -->
<link rel="stylesheet" href="{{site.baseurl}}/font/css/font-awesome.min.css">

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/index.css">

<!-- custom js -->


<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>